<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name ="viewport" content = "height = device-height, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>well prediction</title>
        <link rel="stylesheet" href="../static/css/indexstyle.css"/>
    </head>

    <body>
        <nav>
            <ul>
                <li><a href="#">Home</a></li>
                <li><a href="#">About</a></li>
                <li><a href="#">Contact</a></li>
            </ul>
        </nav>
            <section class="state-selection">
                <loading-panel>
                    <!---->
                </loading-panel>
                <div class="state-list">
                    <h2 class="intro">
                        Water Well Detection
                        <br>
                        Select The State
                    </h2>
                    <!-- select state icons here -->
                    <div class="state-selection-icon">
                        <a href="./karnataka.html" class="icon-order">
                            <img src="../static/images/karnataka_icon.png" alt="karnataka state icon" class="state-icon">
                            <span class="state-item-text">Karnataka</span>
                        </a>
                    </div>
                    <div class="state-selection-icon">
                        <a href="./tamilnadu.html" class="icon-order">
                            <img src="../static/images/karnataka_icon.png" alt="karnataka state icon" class="state-icon">
                            <span class="state-item-text">Tamil Nadu</span>
                        </a>
                    </div>
                    <div class="state-selection-icon">
                        <a href="./maharashtra.html" class="icon-order">
                            <img src="../static/images/karnataka_icon.png" alt="karnataka state icon" class="state-icon">
                            <span class="state-item-text">Maharashtra</span>
                        </a>
                    </div>
                </div>
            </section>


    </body>
</html>